
body {
    font-family: verdana;
    font-size: 11pt;
}

div.container {
    margin: 20px;
    height: auto;
    width: auto;
}

div.controller {
    height: 120px;
}

div.canvas {
    width: 50px;
    margin: 18px;
}

div.questSymbol {
    width: 60px;
    height: 60px;
    margin-left: 180px;
    margin-top: 40px;
}

div.highlight {
    border-color: blue;
    border-style: solid;
    border-width: 4px;
    padding: -0.5em;
}

div.roundCounter {
    font-family: arial;
    font-size: 32pt;
    font-weight: bold;
    margin-left: 120px;
    color: blue;
}

button {
    width: 120px;
    height: 40px;
    margin: 10px;
    border-radius: 1.5em;
    background-color: aliceblue;
}