/* Die Standard-CSS */

body {
    font-family: verdana;
    font-size: 11pt;
}

img.tierBild {
    padding: 10px;
    animation-duration: 5s;
    animation-fill-mode: both;
}


@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeIn {
    animation: fadeIn;
}

div.buchstabenfeld {
    width: 480px;
    height: 480px;
}

div.rateTier {
    letter-spacing: 10px;
    font-size: 48pt;
    font-weight: bold;
}


input[type="button"] {
    font-size: 12pt;
    width: 160px;
    height: 40px;
    margin: 10px;
    background-color:lightblue;
}

input.buchstabe[type="button"] {
    font-size: 12pt;
    height: 48px;
    width: 96px;
    border-radius:  10px;
    background-color:orchid;
    margin:10px;
}

.timerDisplay{
    position: relative;
    width: 30%;
    background: #ffffff;
    left: 4%;
    padding: 20px 0;
    font-family: 'Roboto mono',monospace;
    color: #0381bb;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
}