/* Die Standard-CSS */

body {
    font-family: verdana;
    font-size: 11pt;
    background: #448aff;
}

input#startButton[type="button"] {
    font-size: 20pt;
    height: 48px;
    width: 200px;
    border-radius:  10px;
    background-color:greenyellow;
    margin-top:20px;
    margin-left:180px;
    justify-content: space-around;
}

input.buchstabe[type="button"] {
    font-size: 12pt;
    height: 48px;
    width: 96px;
    border-radius:  10px;
    background-color:orchid;
    margin:10px;
}


div.infoArea {
    width: 480px;
    height: 240px;
}

div.buchstabenFeld {
    width: 480px;
    height: 240px;
}

.timerDisplay{
    position: relative;
    width: 30%;
    background: #ffffff;
    left: 4%;
    padding: 20px 0;
    font-family: 'Roboto mono',monospace;
    color: #0381bb;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,139,253,0.25);
}