/* Standard-Style */

body {
    font-family: verdana;
    font-size: 11pt;
}

div.login {
    width:400px;
    height:240px;
    margin: 20px;
    background-color:cornflowerblue;
}

div.register {
    width:400px;
    height:240px;
    margin: 20px;
    background-color:coral
}

input[type="text"] {
    width: 160px;
    font-size: 16pt;
    height: 36px;
    margin: 10px;
}

input[type="button"] {
    width: 160px;
    height: 36px;
    margin: 10px;
    border-radius:1.5em;
    background-color:greenyellow
}

#status {
    background-color:lightyellow;
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
}